.home-container {
    text-align: center;
    height: 95vh;
    width: 98.3vw;
    background-color:black;
    overflow:hidden;
    transform:scale(1);
    
  }

  .h1{
    padding: 20px;
    background-color:rgb(226, 226, 24);
    color: black;


  }
  
  .device-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .device-card {
    
    width: 150px;
    height: 150px;
    border: none;
    outline: none;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }

  .device-card::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;

  }

  .device-card::before{
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000,#FF7300,#FFFB00,#48FF00,#00FFD5,#002BFF,#FF00C8,#FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 9px);
    height: calc(100% + 9px);
    filter:blur(9px);
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    animation: glowing 20s linear infinite;
  }
  
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.device-card:hover::before{
  opacity: 1;
}

.device-card:active:after{
  content:"";
  background:transparent;
  position:absolute;
  z-index:10;

}

.device-card:active{
  color: #000;
  font-weight: bold;

}

  
/* Responsive layout for screens smaller than 768px */
@media (max-width: 768px) {
  .home-container{
    height: 95vh;
    width: 96vw;
  }
  
}

/* Further adjustments for very small screens (mobile portrait mode) */
@media (max-width: 480px) {
  .home-container{
    height: 95vh;
    width: 96vw;
  }
}

  